<div class="jumbotron">
    <h1 class="display-4">Wsei Invoicing App</h1>
    <div>
        <p class="lead">Based on: https://github.com/jkanclerz/wsei-invoicing-app</p>
        <a class="btn btn-primary btn-lg" href="https://github.com/jkanclerz/wsei-invoicing-app" role="button">Repository Link</a>
    </div>
    <div>
        <p class="lead">Repository: https://github.com/tlenka/AngularInvoicingApp</p>
        <a class="btn btn-primary btn-lg" href="https://github.com/tlenka/AngularInvoicingApp" role="button">Repository Link</a>
    </div>
    
    <hr class="my-4">
    <p>Added: Customer Component</p>
    <p>Functions: Add new customer, Select customer in Invoice Component</p>
    <p class="lead">Marlena Topolska, WSEI, Programowanie Aplikacji WEB</p>
  </div>