<div class="invoice">
  <app-invoice-positions [positions]=invoice.items (itemsChanged)=updateItems($event)></app-invoice-positions>
  <app-invoice-summary [summary]=invoiceSummary></app-invoice-summary>
</div>

<div class="customer-select">
  <h5>Select Customer:</h5>
  <select id="allCustomers" [(ngModel)]="customer" class="form-control" required>
    <option *ngFor="let customer of allCustomers" [ngValue]="customer" selected>
      {{ customer.name }}
    </option>
  </select>
</div>

<div class="customer-detail" *ngIf="customer !== undefined">
  <h2>{{customer.name }}</h2>
    <table>
      <tr>
        <td>
          NIP:
        </td>
        <td>
          {{ customer.nip }}
        </td>
      </tr>
      <tr>
        <td>
          Street:
        </td>
        <td>
          {{ customer.street}}
        </td>
      </tr>
      <tr>
        <td>
          Post code:
        </td>
        <td>
          {{ customer.postCode }}
        </td>
      </tr>
      <tr>
        <td>
          City:
        </td>
        <td>
          {{ customer.city }}
        </td>
      </tr>
      <tr>
        <td>
          Country:
        </td>
        <td>
          {{ customer.country }}
        </td>
      </tr>
      <tr>
          <td>
            Date created:
          </td>
          <td>
            {{ customer.dateCreated | date: 'dd/MM/yyyy' }}
          </td>
        </tr>

    </table>
    
    
</div>

