.customer-select{
    padding: 12px;
    max-width: 600px;
}

.customer-detail{
    padding:12px;
}

.customer-detail table{
    max-width: 500px;
    width: 100%;
}

.customer-detail table td:first-child{
    font-weight: 600
}

.customer-detail table td{
    width: 50%;
}