<div class="invoice">
  <app-invoice-positions [positions]=invoice.items (itemsChanged)=updateItems($event)></app-invoice-positions>
  <app-invoice-summary [summary]=invoiceSummary></app-invoice-summary>
</div>
<div class="customer-select">
  <select id="allCustomers" [(ngModel)]="c" class="form-control" required placeholder = "aaa">
    <option *ngFor="let c of allCustomers" [ngValue]="c" selected>
      {{ c.name }}
    </option>
  </select>
  
  <div *ngIf="c !== undefined">
      <h1>{{c.name }}{{c.dateCreated}}</h1>
  </div>
  
  

</div>

