{{diagnostic}}
<form  #customerForm="ngForm">
<table class="table">
  <thead>
    <tr>
      <th scope="col">
          <label for="name">
            Client name
          </label>
      </th>
      <th scope="col">NIP</th>
      <th scope="col">Street</th>
      <th scope="col">Post-Code</th>
      <th scope="col">City</th>
      <th scope="col">Country</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
          <div class="form-group">
              <input type="text" class="form-control" id="name" required
              [(ngModel)]="newCustomer.name" name="name"
              />
          </div>
        
      </td>
    </tr>
      

    <!-- <tr>
        <td>
            <input 
              class="form-control" type="text" 
              name="name" 
              [value]=newCustomer.name
              ngModel
            />
          </td>
    </tr> -->
  </tbody>
</table>

<!-- <button type="button" class="btn btn-default" (click)="saveCustomer(); heroForm.reset()">New Hero</button> -->

<button type="button" class="btn btn-success" [disabled]="!customerForm.form.valid" (click)="saveCustomer(newCustomer)">Submit</button>

<pre>
  
  {{newCustomer.name}}
</pre>

<div class="container">
  <h2>All Customers</h2>
  <div class="group">
    <a *ngFor="let customer of allCustomers" class="country-unit" routerLink="">
      <div class="country-block">
        <h4>{{customer.name}} {{customer.dateCreated | date: 'dd/MM/yyyy'}}</h4>
        
      </div>
    </a>
  </div>
  <br>
</div>
</form>
